@font-face {
    font-family: 'Montserrat-UltraLight';
    src: local('☺'), url('../fonts/Montserrat-UltraLight.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('☺'), url('../fonts/Montserrat-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: local('☺'), url('../fonts/Raleway/Raleway.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Bold';
    src: local('☺'), url('../fonts/Raleway/Raleway\ Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Medium';
    src: local('☺'), url('../fonts/Raleway/Raleway\ Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('☺'), url('../fonts/Roboto.ttf');
    font-weight: normal;
    font-style: normal;
}